 {% include "header.html" %}

<script src="{{url_for('static',filename='js/jQueryRotate.js') }}"></script>

<script src="{{url_for('static',filename='OpenLayers-2.13.1/OpenLayers.js') }}"></script>

<!-- Leaflet plugin -->
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
<script src="{{url_for('static',filename='OpenLayers-2.13.1/plugins/leaflet.rotatedMarker.js') }}"></script>

<!-- CSV Parser -->
<script src="{{url_for('static',filename='PapaParse-4.1.2/papaparse.min.js') }}"></script>

<script>
    var boatMarker;
    var windSpeedAtPosition = 0;
    var windDirectionAtPosition = 0;
    var boatCourse =  {{boatinfo.course}};
    var boatSpeed = 0;
    var currentPolar;
    var polarLoaded = false;
    var weatherLoaded = false;
    
    var lon            = {{boatinfo.longitude}};
    var lat            = {{boatinfo.latitude}};
    
    var map;
    
    //Markers to show where boat will be in given times if it keeps its course
    var oneHourMarker;
    
    $(function() {
        
   
        
    $( "#slider" ).slider({
        min:0,
        max:359,
        value:0,
        slide: function( event, ui ) {
            $('.angleviewer').html(ui.value);
            $('#boatimage').rotate(ui.value);
            rotateMapBoat(ui.value);
            if(polarLoaded && weatherLoaded)
            {
                getBoatSpeed();
                //updateNextExtimatedDistanceMarkers();
            }
        },
        change: function(event, ui){
            $('.angleviewer').html(ui.value);
            console.log('New course : ' + ui.value);
            boatCourse = ui.value;
            if(polarLoaded && weatherLoaded)
            {
                getBoatSpeed();
                updateNextExtimatedDistanceMarkers();
            }
            
            //Let's send the new course to the server to save it
            $.ajax({
                url: '/api/race/{{currentrace.id}}/updateboat',
                type: 'post',
                data: "course=" + ui.value ,
                success: function(data) {
                            console.log("Success with post ! : " + data);
                            if(data != 'ok')
                            {
                                console.log("Error !");
                                alert("Unknown error...");
                            }
                            else
                            {
                              //Do something... 
                            }
                        }
            });
        }
    });
    
    $( "#slider" ).slider("value", {{boatinfo.course}});
    $('#boatimage').rotate({{boatinfo.course}});
    
    
    
    //Map setup
    
    updateWindInfoAtPosition(lat, lon);
    
    var zoom           = 11;
    
    $('#longitude').html(lon);
    $('#latitude').html(lat);
    
    map = L.map('demoMap').setView([lat, lon], zoom);

    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
        attribution: ''
    }).addTo(map);
    
    var boatIcon = L.icon({  
            iconUrl: '{{url_for('static',filename='images/boaticon.png') }}',
            iconSize:     [50, 50],
            iconAnchor:   [25, 25],
    });

    boatMarker = L.marker([lat, lon], {
        icon: boatIcon
    }).addTo(map).setRotationOrigin([25,25]).setRotationAngle({{boatinfo.course}});
    
    //Loading polars of boat
    // Parse CSV string
    // Parse local CSV file
    Papa.parse('{{url_for('static',filename='boats/polars/boat_Imoca.csv') }}', {
        download: true,
        complete: function(results) {
            console.log('Loaded CSV !');
            console.log("Test : " + results.data[0][0]);
            currentPolar = results.data;
            polarLoaded = true;
            if(weatherLoaded)
            {
                getBoatSpeed();
                updateNextExtimatedDistanceMarkers();
            }
            
        }
    });
    
    
  });

  function rotateMapBoat(angle)
  {
      boatMarker.setRotationAngle(angle);
  }
  
  function toRadians (angle) {
    return angle * (Math.PI / 180);
  }
  
  function toDegrees (angle) {
    return angle * ( 180/Math.PI );
  }
  
  function updateNextExtimatedDistanceMarkers()
  {
      /*
      Ld = Latitude de départ, Gd = Longitude de départ, C = cap suivi, d = distance parcourue (en
      Milles nautiques), La = Latitude d'arrivée, Ga = Longitude d'arrivée.
      
      Lm = (Ld + La) / 2

      La = Ld + ((d cos C ) / 60)

      Ga = Gd + ((d sin C) / cos Lm)

      Formules recopiées sur le livre "Les calculatrices" par Roger Florent - Editions du Pen Duick,
      1981 - sans aucune garantie d'exactitude ;-)
      */
      
      /*
      Formula:	lat2 = asin( sin lat1 ⋅ cos δ + cos lat1 ⋅ sin δ ⋅ cos θ )
        lon2 = lon1 + atan2( sin θ ⋅ sin δ ⋅ cos lat1, cos δ − sin lat1 ⋅ sin lat2 )
        where	lat is latitude, lon is longitude, θ is the bearing (clockwise from north), δ is the angular distance d/R; d being the distance travelled, R the earth’s radius
        JavaScript:
        (all angles 
        in radians)
        var lat2 = Math.asin( Math.sin(lat1)*Math.cos(d/R) +
                            Math.cos(lat1)*Math.sin(d/R)*Math.cos(brng) );
        var lon2 = lon1 + Math.atan2(Math.sin(brng)*Math.sin(d/R)*Math.cos(lat1),
                                Math.cos(d/R)-Math.sin(lat1)*Math.sin(lat2));
                         
                         */
      //Let's compute the position of the boat in one hour
      var R = 6371000; //Earth Radius   
      var distanceToBeTraveled = boatSpeed*1852; //Distance to be traveled in an hour (1852converts to m/h)
      console.log('Distance to be traveled in miles : ' + distanceToBeTraveled);
      console.log('Math.cos(toRadians(boatCourse)) = ' + Math.cos(toRadians(boatCourse)));
      console.log('Course : ' + boatCourse);
      var Lm = (lat + lon)/2;
      console.log('Lm = ' + Lm +', distance : ' + distanceToBeTraveled);
      //var lat2 = lat + distanceToBeTraveled * Math.cos(toRadians(boatCourse)) / 60 ;
      //var lon2 = lon + distanceToBeTraveled * Math.sin(toRadians(boatCourse)) / (60 * Math.cos(toRadians(Lm)));
      
      var lat2 = toDegrees( Math.asin( Math.sin(toRadians(lat))*Math.cos(distanceToBeTraveled/R) +
                    Math.cos(toRadians(lat))*Math.sin(distanceToBeTraveled/R)*Math.cos(toRadians(boatCourse)) ));
                    
      var lon2 = lon + toDegrees(Math.atan2(Math.sin(toRadians(boatCourse))*Math.sin(distanceToBeTraveled/R)*Math.cos(toRadians(lat)),
                    Math.cos(distanceToBeTraveled/R)-Math.sin(toRadians(lat))*Math.sin(toRadians(lat2))));

      console.log('Position in one hour : lat : ' + lat2 + ', lon : ' + lon2);
      
      if(typeof oneHourMarker == 'undefined')
      {
          oneHourMarker = L.marker([lat2, lon2]).addTo(map);
      }
      else
      {
          oneHourMarker.setLatLng(new L.LatLng(lat2, lon2));
      }
  }
  
  function getBoatSpeed()
  {
      console.log('Getting boat speed ! ');
      
      if(typeof currentPolar == 'undefined')
      {
          console.log('FATAL ERROR : calling getboatSpeed but polar is undefined...');
          return;
      }
      var angleToWind = windDirectionAtPosition - boatCourse;
      while(angleToWind<0 || angleToWind > 180)
      {
        if(angleToWind>180)
            angleToWind -= 360;
        if(angleToWind < 0)
            angleToWind = -angleToWind;
      }
        
      //getting the line for the angle
      
      //Needs to start at 1 because 0 is just text
      var polarWindLine = 1;
      console.log('angleToWind : ' + angleToWind);
      while(currentPolar[polarWindLine][0] < angleToWind)
      {
          polarWindLine++;
 
      }
      
      polarWindLine--;
      console.log('polarWindLine : ' + polarWindLine);
     
      //getting the line for the speed
     //Needs to start at 1 because 0 is just text
      var polarSpeedLine = 1;
      while(currentPolar[0][polarSpeedLine] < windSpeedAtPosition)
      {
          polarSpeedLine++;
      }
      
      polarSpeedLine--;
      console.log('polarSpeedLine : ' + polarSpeedLine);
      
      //Calculating means to estimate boat spind according to polars
      var leftWindSpeedMean = (angleToWind - currentPolar[polarWindLine][0]) * currentPolar[polarWindLine + 1][polarSpeedLine] + (currentPolar[polarWindLine + 1][0] - angleToWind) * currentPolar[polarWindLine][polarSpeedLine];
      leftWindSpeedMean = leftWindSpeedMean / (currentPolar[polarWindLine + 1][0] - currentPolar[polarWindLine][0]);

      var rightWindSpeedMean = (angleToWind - currentPolar[polarWindLine][0]) * currentPolar[polarWindLine + 1][polarSpeedLine + 1] + (currentPolar[polarWindLine + 1][0] - angleToWind) * currentPolar[polarWindLine][polarSpeedLine + 1];
      rightWindSpeedMean = rightWindSpeedMean / (currentPolar[polarWindLine + 1][0] - currentPolar[polarWindLine][0]);
      
      var finalSpeedMean = (windSpeedAtPosition - currentPolar[0][polarSpeedLine]) * rightWindSpeedMean + (currentPolar[0][polarSpeedLine + 1] - windSpeedAtPosition) * leftWindSpeedMean;
      finalSpeedMean = finalSpeedMean / (currentPolar[0][polarSpeedLine + 1] - currentPolar[0][polarSpeedLine]);

      
      boatSpeed = finalSpeedMean;
      $(".boatspeed").html(finalSpeedMean.toFixed(2));
      
      return finalSpeedMean;
  }
  
  function updateWindInfoAtPosition(lat, lon)
  {
      $.ajax({
                url: 'http://api.openweathermap.org/data/2.5/weather?lat=' + lat + '&lon=' + lon+'&appid=89c15fa0109218f9c81b1567fd5958cc',
                type: 'get',
                success: function(data) {
                            console.log("Success with post ! wind speed : " + data['wind']['speed']*1.94384);
                             windSpeedAtPosition = data['wind']['speed']*1.94384; //1,94384 is to convert to knots
                             windDirectionAtPosition = data['wind']['deg'];
                             $('#winddirection').html(windDirectionAtPosition.toFixed(1));
                             $('#windspeed').html(windSpeedAtPosition.toFixed(2));
                             weatherLoaded = true;
                             if(polarLoaded)
                             {
                                getBoatSpeed()
                                updateNextExtimatedDistanceMarkers();
                             }
                            
                        }
            });
  }
  
  
</script>




<style type='text/css'>
    .angleviewer {
        margin: 30px 0;
        font-size: 20px;
    }
</style>

</head>

<body>
    <div class="container">

        <h1>{{ currentrace.name }}</h1>
        <div class="row">
            <div class="col-md-3">
                <p class="lead">Current position : </p>
                <p>Longitude : <span id="longitude"></span></p>
                <p>Latitude : <span id="latitude"></span></p>
                <p class="lead">Wind info : </p>
                <p>Speed : <span id="windspeed"></span> kn</p>
                <p>Direction : <span id="winddirection"> </span>&deg;</p>
                <p class="lead">Cap : <span class="angleviewer"> </span>&deg;</p>
                <img id="boatimage" src="{{url_for('static',filename='images/boat.png') }}" class="img-responsive" />
                <div id="slider"></div>
                <p class="lead">Boat speed : <span class="boatspeed"></span> kn</p>

            </div>
            <div class="col-md-9">
                <h2>Map</h2>
                <div id="demoMap" style="height:600px"></div>

            </div>
        </div>

    </div>
    <!-- /.container -->

</body>

</html>